.button {
  user-select: none;
  cursor: pointer;
  border: 0;
  padding: 1.4em 3em; /* 12px 48px */
  text-transform: uppercase;
  font-size: 1rem; /* 16px */
  font-weight: 900;
  background: transparent;
  color: #111;
}

.button--rounded {
  border-radius: 6px;
}

.button--primary {
  background: #A80E32;
  color: #fff;
}

.button--secondary {
  background: #1E1E1E;
  color: #fff;
}

.button svg {
  pointer-events: none;
}
